---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";

import Icon from "astro-icon";

const { className } = Astro.props;
---

<div class={cn("flex flex-row items-center gap-4", className)}>
  <a
    href={siteConfig.links.github}
    target="_blank"
    rel="noreferrer"
    class="inline"
  >
    <span class="sr-only">GitHub</span>
    <Icon name="simple-icons:github" class="size-6" />
  </a>
  <a
    href={siteConfig.links.gitlab}
    target="_blank"
    rel="noreferrer"
    class="inline"
  >
    <span class="sr-only">GitLab</span>
    <Icon name="simple-icons:gitlab" class="size-6" />
  </a>
  <a
    href={siteConfig.links.twitter}
    target="_blank"
    rel="noreferrer"
    class="inline"
  >
    <span class="sr-only">Twitter</span>
    <Icon name="simple-icons:twitter" class="size-6" />
  </a>
  <a
    href={siteConfig.links.linkedin}
    target="_blank"
    rel="noreferrer"
    class="inline"
  >
    <span class="sr-only">LinkedIn</span>
    <Icon name="simple-icons:linkedin" class="size-6" />
  </a>
  <a
    href={siteConfig.links.discord}
    target="_blank"
    rel="noreferrer"
    class="inline"
  >
    <span class="sr-only">Discord</span>
    <Icon name="simple-icons:discord" class="size-6" />
  </a>
</div>
