---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { ThemeToggle } from "@/components/theme-toggle";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";
import { siteConfig } from "@/config/site";

import Icon from "astro-icon";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header>
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.infosNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <nav slot="right-header" class="flex flex-row items-center gap-4">
      <a
        href={siteConfig.links.github}
        target="_blank"
        rel="noreferrer"
        class="hidden md:inline"
      >
        <span class="sr-only">GitHub</span>
        <Icon name="mdi:github" class="size-6" />
      </a>
      <a
        href={siteConfig.links.twitter}
        target="_blank"
        rel="noreferrer"
        class="hidden md:inline"
      >
        <span class="sr-only">Twitter</span>
        <Icon name="mdi:twitter" class="size-6" />
      </a>
      <ThemeToggle client:idle />
    </nav>
  </Header>

  <main class={cn(mainClass)}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
